In [1]:
# For this assignment, we are going to use the Open-Meteo weather api (https://open-meteo.com/en/docs) to practice calling external APIs, and using the results
import requests
import pandas as pd

In [75]:
####################################
##     Compiled by a C/C++ Expert-
##     Md. Asaduzzaman Jabin
##     Ph.D. Student, ECE, UGA, GA-30602, USA
####################################################################################################################
#                                 This code is done on google colab editor
####################################################################################################################

In [2]:
from requests.sessions import OrderedDict
# Take a moment to read through the documentation and then fetch the daily forecast of min and max temperatures at: 33.938830, -83.375070, in Fahrenheit

# Print the result of the request as a python dictionary

import json
result = requests.get("https://api.open-meteo.com/v1/forecast?elevation=212.125&daily_units=&generationtime_ms=&daily=temperature_2m_max,temperature_2m_min&latitude=34&&timezone=America%2FNew_York&longitude=-83.375")
dic= result.json()
dic2 =OrderedDict()   

# to ensure the consistant order for the json format
dic2 =  {'elevation': dic['elevation'], 'daily_units': dic['daily_units'], 'generationtime_ms': dic['generationtime_ms'], 'daily': dic['daily'], 'latitude': dic['latitude'], 'utc_offset_seconds': dic['utc_offset_seconds'], 'longitude': dic['longitude']}
print(dic2)

{'elevation': 212.125, 'daily_units': {'temperature_2m_max': '°C', 'temperature_2m_min': '°C', 'time': 'iso8601'}, 'generationtime_ms': 0.8370876312255859, 'daily': {'temperature_2m_min': [12.1, 14.2, 12.3, 7.5, 6.4, 9.8, 9.1], 'time': ['2022-04-16', '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22'], 'temperature_2m_max': [20.5, 24.1, 20.2, 18.7, 20, 22.8, 27.4]}, 'latitude': 34, 'utc_offset_seconds': -14400, 'longitude': -83.375}

In [77]:
# Read the result into a dataframe and reflect on its usability 
df1 = pd.DataFrame(dic2)
df2 = df1[['daily','generationtime_ms','longitude','utc_offset_seconds', 'latitude', 'elevation', 'daily_units']]

df2 = pd.DataFrame([df2.iloc[2], df2.iloc[1], df2.iloc[0]])  # recorrect the rows according to expected outputs
df2

,daily,generationtime_ms,longitude,utc_offset_seconds,latitude,elevation,daily_units
time,"[2022-04-16, 2022-04-17, 2022-04-18, 2022-04-1...",0.837088,-83.375,-14400,34,212.125,iso8601
temperature_2m_min,"[12.1, 14.2, 12.3, 7.5, 6.4, 9.8, 9.1]",0.837088,-83.375,-14400,34,212.125,°C
temperature_2m_max,"[20.5, 24.1, 20.2, 18.7, 20, 22.8, 27.4]",0.837088,-83.375,-14400,34,212.125,°C

In [74]:
# Make a new dataframe reusing the data from before (don't make another request), keep only the daily field, and set the index to be time
import datetime as dt
from datetime import *
 
from dateutil import parser

df3 = pd.DataFrame(df2["daily"])
df3= df3.rename(columns={"daily":''})
df4 =df3.T
df5 = df4.explode('time')
#df4 = pd.melt(df3, id_vars=["time"], var_name="temperature_2m_max", value_name = "temperature_2m_min")
# df3.set_index('time')
df6 = df4.explode('temperature_2m_max')
#df6

df7 = df4.explode('temperature_2m_min')
df = pd.concat([df5['time'], df6['temperature_2m_max'], df7['temperature_2m_min']], axis =1)
df.set_index('time')

           temperature_2m_max temperature_2m_min
time
2022-04-16               20.5               12.1
2022-04-17               24.1               14.2
2022-04-18               20.2               12.3
2022-04-19               18.7                7.5
2022-04-20                 20                6.4
2022-04-21               22.8                9.8
2022-04-22               27.4                9.1

In [ ]:
# Let's practice again- this time fetch only the current weather in fahrenheit from 3 locations (34.289951,-85.191330), (33.938830, -83.375070), (33.736600, -84.373640)
# Save and print the result of the requests as python dictionaries

import json
result = requests.get("https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=34.289951&&timezone=America%2FNew_York&longitude=-85.191330")
dic= result.json()
dic11 =OrderedDict() 
# to ensure the consistant order for the json format
dic11 = {'longitude': dic['longitude'],'latitude': dic['latitude'], 'utc_offset_seconds': dic['utc_offset_seconds'], 'generationtime_ms': dic['generationtime_ms'], 'current_weather': dic['current_weather'], 'elevation': dic['elevation']}  
print(dic11)

result2 = requests.get("https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=33.938830&&timezone=America%2FNew_York&longitude=-83.375070")
dic2= result.json()
dic21 =OrderedDict() 
# to ensure the consistant order for the json format
dic21 = {'current_weather': dic2['current_weather'], 'latitude': dic2['latitude'], 'generationtime_ms': dic2['generationtime_ms'], 'elevation': dic2['elevation'], 'utc_offset_seconds': dic2['utc_offset_seconds'], 'longitude': dic2['longitude']}  
print(dic21)


result3 = requests.get("https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=33.736600&&timezone=America%2FNew_York&longitude=-84.373640")
dic3= result3.json()
# to ensure the consistant order for the json format
dic31 =OrderedDict() 
dic31 =  {'latitude': dic2['latitude'], 'generationtime_ms': dic2['generationtime_ms'], 'utc_offset_seconds': dic2['utc_offset_seconds'], 'longitude': dic2['longitude'], 'current_weather': dic2['current_weather'], 'elevation': dic2['elevation']}
print(dic31)

{'longitude': -85.25, 'latitude': 34.25, 'utc_offset_seconds': -14400, 'generationtime_ms': 0.22792816162109375, 'current_weather': {'temperature': 17, 'weathercode': 3, 'time': '2022-04-15T23:00', 'winddirection': 147, 'windspeed': 5.4}, 'elevation': 239.625}
{'current_weather': {'temperature': 17, 'weathercode': 3, 'time': '2022-04-15T23:00', 'winddirection': 147, 'windspeed': 5.4}, 'latitude': 34.25, 'generationtime_ms': 0.22792816162109375, 'elevation': 239.625, 'utc_offset_seconds': -14400, 'longitude': -85.25}
{'latitude': 34.25, 'generationtime_ms': 0.22792816162109375, 'utc_offset_seconds': -14400, 'longitude': -85.25, 'current_weather': {'temperature': 17, 'weathercode': 3, 'time': '2022-04-15T23:00', 'winddirection': 147, 'windspeed': 5.4}, 'elevation': 239.625}

In [ ]:
# Using the data from before (again, without making more requests), concat the 3 current_weather entries into one DataFrame
import datetime as dt
from datetime import *
 
from dateutil import parser
df4 = pd.DataFrame(dic11)
df5 = pd.DataFrame(dic21)
df6 = pd.DataFrame(dic31)
df4 = df4["current_weather"]
df5 = df5["current_weather"]
df6 = df6["current_weather"]
dfs = pd.DataFrame([df4, df5, df6])
index = [0, 0, 0]
dfs [''] = index
dfs = [dfs.set_index('') for df in dfs]
df = dfs[0]
df

   temperature              time  weathercode  winddirection  windspeed

0           17  2022-04-15T23:00            3            147        5.4
0           17  2022-04-15T23:00            3            147        5.4
0           17  2022-04-15T23:00            3            147        5.4